vasito.pdf
vasito.aux
vasito.log
vasito.out
vasito.toc
vasito.fls
vasito.fdb_latexmk
vasito.synctex.gz
iguana.pdf
iguana.aux
iguana.log
iguana.out
iguana.toc
iguana.fls
iguana.fdb_latexmk
iguana.synctex.gz
**/a.out

